@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkBlue: hsl(240, 38%, 20%);
    --grayishBlue: hsl(240, 18%, 77%);
}

a {
    color: var(--darkBlue);
}

body {
    min-height: 100vh;
    font-weight: 200;
    font-size: 1rem;
    font-family: 'Inter',
        sans-serif;
    font-weight: 300;
    padding: 0 1.4375rem;
    padding-top: 1.555rem;
    position: relative;
}

#pattern-curve {
    display: none;
}

#container {
    text-align: center;
    margin-bottom: 2rem;
}

#illustrations {
    position: relative;
    margin-bottom: 3.99rem;
}

#pattern-bg {
    width: 324.04px;
}

#avatar-img {
    width: 253.317px;
    border-radius: 5px;
    position: absolute;
    top: 29.28px;
    left: 50%;
    transform: translateX(-50%);
}

#navigation {
    display: flex;
    justify-content: space-between;
    padding: 0.81rem 1.02rem;
    background: white;
    border-radius: 25px;
    box-shadow: 1px 0px 8px 1px black;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-45%);
}

.arrow {
    cursor: pointer;
}

#arrow-prev {
    margin-right: 2.025rem;
}

#pattern-quotes {
    width: 60px;
    position: absolute;
    bottom: -80.26px;
    left: 50%;
    transform: translateX(-50%);
}

#main-content span {
    display: block;
}

#quote {
    margin-bottom: 1.71rem;
}

#person-name {
    font-weight: 700;
    color: var(--darkBlue);
}

#occupation {
    font-weight: 500;
    color: var(--grayishBlue);
}

@media screen and (max-width:365px) {
    #pattern-bg {
        width: 97%;
    }

    #avatar-img {
        width: 77%;
    }
}

/*DESKTOP VIEW*/
@media screen and (min-width: 968px) {
    body {
        padding-right: 4.365rem;
        padding-left: 9.73rem;
        padding-top: 2.91rem;
        position: relative;
    }

    #container {
        display: flex;
        width: calc(100% - calc(4.365rem + 9.73rem));
        height: 633px;
        position: absolute;
        flex-direction: row-reverse;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-46.2%, -45.55%);
        text-align: left;
    }

    #main-content span {
        display: inline-block;
    }

    #quote {
        font-size: 2rem;
    }

    span {
        font-size: 1.2rem;
    }

    #pattern-curve {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    #illustrations {
        height: 100%;
        margin: 0;
    }

    #pattern-bg {
        width: 95%;
    }

    #avatar-img {
        width: 72.3203%;
        top: 60px;
    }

    #main-content {
        width: 600.68px;
        position: absolute;
        left: 0;
    }

    #navigation {
        top: 85.5%;
        left: 25%;
        transform: translate(-25%);
        padding: 1.08rem 1.32rem;
    }

    #pattern-quotes {
        width: unset;
        top: 135px;
        bottom: unset;
        left: -260px;
    }
}